id_cliente,dominio,usuario_cpanel,ruta_public_html
14,amarello.posmoon.com.ar,amarello,/home/amarello/public_html
7,demo.posmoon.com.ar,demo,/home/demo/public_html
2,abisko.posmoon.com.ar,abisko,/home/abisko/public_html


